In [1]:
import psycopg2
from psycopg2 import sql
from pymongo import MongoClient
import googleapiclient.discovery
from datetime import datetime, timedelta
import json
from pprint import pprint
from datetime import datetime, timedelta
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, DateTime, ForeignKey
from sqlalchemy.orm import relationship, sessionmaker
from sqlalchemy.ext.declarative import declarative_base
import pandas as pd
import streamlit as st
import pandas as pd
from sqlalchemy import create_engine, func
from sqlalchemy import Column, ForeignKey, Integer, String, DateTime
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy import MetaData

# Define PostgreSQL engine and Base
postgres_engine = create_engine("postgresql://postgres:admin@localhost:5432/my_db")
Base = declarative_base()

class Channel(Base):
    __tablename__ = 'channel_new'

    id = Column(Integer, primary_key=True)
    channel_id = Column(String, nullable=False,unique=True)
    channel_name = Column(String)
    channel_type = Column(String)
    channel_views = Column(Integer)
    channel_description = Column(String)
    channel_status = Column(String)
    joined = Column(DateTime)
    thumbnails = Column(String)
    subscriber_count = Column(Integer)
    video_count = Column(Integer)
    view_count = Column(Integer)
    upload_playlist_id = Column(String)

    videos = relationship("Video", back_populates="channel")
    comments = relationship("Comment", back_populates="channel")


class Video(Base):
    __tablename__ = 'video_new'

    id = Column(Integer, primary_key=True)
    video_id = Column(String ,nullable=False,unique=True)
    video_name = Column(String)
    video_description = Column(String)
    tags = Column(String)
    published_at = Column(DateTime)
    view_count = Column(Integer)
    like_count = Column(Integer)
    dislike_count = Column(Integer)
    favorite_count = Column(Integer)
    comment_count = Column(Integer)
    duration = Column(String)
    thumbnail = Column(String)
    caption_status = Column(String)
    channel_id = Column(Integer, ForeignKey('channel_new.channel_new.id'),unique=True)

    channel = relationship("Channel", back_populates="videos")


class Comment(Base):
    __tablename__ = 'comment_new'

    id = Column(Integer, primary_key=True)
    comment_id = Column(String, nullable=False,unique=True)
    video_id = Column(Integer, ForeignKey('video_new.id'))
    comment_text = Column(String)
    comment_author = Column(String)
    comment_published_date = Column(DateTime)
    channel_id = Column(Integer, ForeignKey('channel_new.channel_new.id'),unique=True)

    video = relationship("Video", back_populates="comments")
    channel = relationship("Channel", back_populates="comments")

# Create a MetaData object and bind it to the engine
metadata = MetaData()

# Reflect existing tables
metadata.reflect(bind=postgres_engine)

# Create all tables, but only if they do not already exist
Base.metadata.create_all(postgres_engine, checkfirst=True)

# MongoDB connection setup
mongo_client = MongoClient("mongodb://localhost:27017/")
mongo_db = mongo_client["youtube_data"]
collection = mongo_db["youtube_collection"]

C:\Users\Kanak  Oshin\AppData\Local\Temp\ipykernel_27796\3819938634.py:25: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [2]:
# YouTube API key
api_key = "AIzaSyAl7an1MCUecVDN4TDSkb9Kme_eJoW3iS0"
# Set up YouTube API
youtube = googleapiclient.discovery.build("youtube", "v3", developerKey=api_key)

In [3]:
def handle_api_exceptions(func):
    def wrapper(*args, **kwargs):
        try:
            return func(*args, **kwargs)
        except Exception as e:
            print(f"An API exception occurred: {e}")
            # Handle the exception appropriately
    return wrapper

In [4]:
# Function to fetch and save video details and comments for each video in a playlist
@handle_api_exceptions
def fetch_and_save_videos_from_channel_upload( upload_playlist_id):
    pprint(upload_playlist_id)
    # print("Channel ID:", channel_id)
    
    next_page_token = None
    # total_video_count = 0
    video_ids = []
    

    while True:
        request = youtube.playlistItems().list(
            part="snippet,contentDetails",
            playlistId=upload_playlist_id,
            maxResults=50,  # Adjust the number of videos to retrieve as needed
            pageToken=next_page_token
        )

        response = request.execute()
        # pprint(response)

        for item in response['items']:
            video_id = item['contentDetails']['videoId']
            video_ids.append(video_id)
            

        # total_video_count += len(response['items'])
        if 'nextPageToken' in response:
            next_page_token = response['nextPageToken']
        else:
            break

    # print(f"Total videos saved: {total_video_count}")
    return video_ids

In [5]:
def get_channel_stst(channel_id):
    request = youtube.channels().list(part='snippet,contentDetails,statistics',id=channel_id)
    response=request.execute()
    #print(response)
    data =dict( channel_id = response['items'][0]['id'],
                channel_name = response['items'][0]['snippet']['title'],
                channel_ds = response['items'][0]['snippet']['description'], 
                subscibers_count = int(response['items'][0]['statistics']['subscriberCount']),
                views = int(response['items'][0]['statistics']['viewCount']),
                video_count = int(response['items'][0]['statistics']['videoCount']),
                playlist_id= response['items'][0]['contentDetails']['relatedPlaylists']['uploads'],
                published_at = response['items'][0]['snippet']['publishedAt'].replace('Z','')
              )
    return data

In [6]:
# Function to fetch and save video details
@handle_api_exceptions
def fetch_and_save_video_data(video_ids):
    video_datas = []
    for i in video_ids:

        request = youtube.videos().list(
            part="snippet,contentDetails,statistics",
            id=i
        )
        response = request.execute()
        # pprint(response)

        video_stats = response['items'][0]['statistics']
        video_snippet = response['items'][0]['snippet']


        # Save video data to MongoDB
        video_data = {
            "video_id": i,
            "video_name": video_snippet['title'],
            "video_description": video_snippet['description'],
            "tags": ",".join(video_snippet.get('tags', [])),
            "published_at": datetime.strptime(video_snippet['publishedAt'], "%Y-%m-%dT%H:%M:%SZ"),
            "view_count": int(video_stats.get('viewCount', 0)),
            "like_count": int(video_stats.get('likeCount', 0)),
            "dislike_count": int(video_stats.get('dislikeCount', 0)),
            "favorite_count": int(video_stats.get('favoriteCount', 0)),
            "comment_count": int(video_stats.get('commentCount', 0)),
            "duration": response['items'][0]['contentDetails']['duration'],
            "thumbnail": video_snippet['thumbnails']['medium']['url'],
            "caption_status": response['items'][0]['contentDetails']['caption'],
            "channel_id": response['items'][0]['snippet']['channelId']
        }
        video_datas.append(video_data)
    return video_datas

In [7]:
def comment_details(video_ids):
    comments = []
    for i in video_ids:
        try:
            request = youtube.commentThreads().list(part='snippet,replies',videoId=i,maxResults=100)
            response = request.execute()
            if len(response['items'])>0:
                for j in range(len(response['items'])):
                    comments.append({
                        'comment_id': response['items'][j]['snippet']['topLevelComment']['id'],
                        'video_id': i,
                        'Comment_Author': response['items'][j]['snippet']['topLevelComment']['snippet']['authorDisplayName'],
                        'Comment_Text': response['items'][j]['snippet']['topLevelComment']['snippet']['textOriginal'],
                        'Comment_PublishedAt':response['items'][j]['snippet']['topLevelComment']['snippet']['publishedAt'].replace('Z',''),
                        'Comment_Likes': int(response['items'][j]['snippet']['topLevelComment']['snippet']['likeCount']),
                        'channel_id': response['items'][j]['snippet']['topLevelComment']['id']
                        
                    })
                    
                    
        except:
            comments.append(
            {'video_id':i,'Comment_Author':None,'Comment_Text':None,'Comment_PublishedAt':None,'Comment_Likes':None})
    return comments

In [8]:
def main(channel_id):
    c_data = get_channel_stst(channel_id)

    v_ids = fetch_and_save_videos_from_channel_upload(c_data["playlist_id"])

    v_data = fetch_and_save_video_data(v_ids)
    comm_data = comment_details(v_ids)
    d = {"channel_data": c_data,"video_data": v_data,"comments_data": comm_data}
    return d

In [9]:
 



# MongoDB connection setup
def insert_mongodb(channel_id):
    mongo_client = MongoClient("mongodb://localhost:27017/")
    mongo_db = mongo_client["youtube_data"]
    collection = mongo_db["youtube_collection"]
    st.success("Data saved to MongoDB successfully!")
    data = main(channel_id)
    collection.insert_one(data)

In [149]:
def get_mongodb(channel_id):
     mongo_client = MongoClient("mongodb://localhost:27017/")
     mongo_db = mongo_client["youtube_data"]
     collection = mongo_db["youtube_collection"]
     data = collection.find_one({"channel_data.channel_id":channel_id})
     return data

In [150]:
c_data1 = get_mongodb("UCmSp4bDxS9R0jpeZEvkut2g")

In [151]:
c_data1.keys()

dict_keys(['_id', 'channel_data', 'video_data', 'comments_data'])

In [152]:

c_df = pd.DataFrame(c_data1['channel_data'],index=[0])
c_df

,channel_id,channel_name,channel_ds,subscibers_count,views,video_count,playlist_id,published_at
0,UCmSp4bDxS9R0jpeZEvkut2g,Beluga,hello. please subscribe. I love you :')\n,10000000,2182235309,354,UUmSp4bDxS9R0jpeZEvkut2g,2017-01-26T17:52:08

In [153]:



engine = create_engine("postgresql://postgres:admin@localhost:5432/my_db")

In [154]:
table_name = "channel_new"
c_df.to_sql(name=table_name, con=engine, if_exists='append', index=False)
engine.dispose()

In [155]:



video_df =pd.DataFrame(c_data1["video_data"])
video_df

,video_id,video_name,video_description,tags,published_at,view_count,like_count,dislike_count,favorite_count,comment_count,duration,thumbnail,caption_status,channel_id
0,S_kh9FDonwM,Surviving 24 Hours Without Music...,It ends badly.\n\n‚ïî‚ïê‚ï¶‚ïó‚ïî‚ï¶‚ïó‚ïî‚ïê‚ï¶‚ïê‚ï¶‚ï¶‚ï¶‚ï¶‚ïó‚ïî‚ïê‚ïó\n‚ïë‚ïö‚ï£‚ïë‚ïë‚ïë‚ïö...,,2024-04-19 13:00:33,438404,22481,0,0,2638,PT4M9S,https://i.ytimg.com/vi/S_kh9FDonwM/mqdefault.jpg,false,UCmSp4bDxS9R0jpeZEvkut2g
1,zy7jfrij02E,That one guy who's learning English:,"Do british people actually exist? I mean, they...",,2024-04-14 13:00:50,335604,17254,0,0,2097,PT2M8S,https://i.ytimg.com/vi/zy7jfrij02E/mqdefault.jpg,false,UCmSp4bDxS9R0jpeZEvkut2g
2,cbYNMKJ79bc,Level 1 vs 100 Rizz,They call me the Rizzard of Oz ü•µ\n\n‚ïî‚ïê‚ï¶‚ïó‚ïî‚ï¶‚ïó‚ïî‚ïê‚ï¶...,,2024-04-09 14:15:02,520713,25995,0,0,3095,PT4M1S,https://i.ytimg.com/vi/cbYNMKJ79bc/mqdefault.jpg,false,UCmSp4bDxS9R0jpeZEvkut2g
3,7dPc-6Ewhac,"I banned the Spacebar for 760,159 people...",üëá Join the server to be in an upcoming video!\...,,2024-04-06 14:00:07,638596,33699,0,0,3453,PT2M59S,https://i.ytimg.com/vi/7dPc-6Ewhac/mqdefault.jpg,false,UCmSp4bDxS9R0jpeZEvkut2g
4,tnV_YBDDK7o,10 MILLION SUBSCRIBERS,I can't believe we actually did it,,2024-04-04 14:00:40,549211,55070,0,0,9774,PT2M22S,https://i.ytimg.com/vi/tnV_YBDDK7o/mqdefault.jpg,false,UCmSp4bDxS9R0jpeZEvkut2g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,wtT4JA8IVGQ,Did Dream Cheat His Speedrun on Purpose?,"Yesterday, Dream admitted to cheating his Mine...","dream,dream minecraft,dream minecraft speedrun...",2021-05-31 17:44:02,3293667,107249,0,0,7382,PT8M6S,https://i.ytimg.com/vi/wtT4JA8IVGQ/mqdefault.jpg,false,UCmSp4bDxS9R0jpeZEvkut2g
350,c8MR15g2I6w,"How 126,000,000 Minecraft Accounts Got Hacked","Last year, 126,000,000 Minecraft accounts got ...","Minecraft,Beluga,how minecraft accounts were h...",2021-05-28 18:44:48,7432549,241884,0,0,23235,PT14M10S,https://i.ytimg.com/vi/c8MR15g2I6w/mqdefault.jpg,false,UCmSp4bDxS9R0jpeZEvkut2g
351,8rLtdHNGUnQ,Renaming My YouTube Channel (emotional),I renamed my YouTube channel. Watch until the ...,"beluga,explore lucid dreaming,i changed my cha...",2021-05-25 22:26:21,2224391,104865,0,0,8950,PT1M7S,https://i.ytimg.com/vi/8rLtdHNGUnQ/mqdefault.jpg,false,UCmSp4bDxS9R0jpeZEvkut2g
352,92QOGwCa8Hk,Man Attacked By Goose (almost dies),"intense battle. who will win?\n\nalso, there's...","man vs goose,explore lucid dreaming,survival m...",2021-03-13 20:08:19,3637870,241065,0,0,8857,PT3M34S,https://i.ytimg.com/vi/92QOGwCa8Hk/mqdefault.jpg,false,UCmSp4bDxS9R0jpeZEvkut2g
353,nRxxSvB8UFA,It's Mathematically Unlikely You Will Watch This,you shouldn't be here,"explore lucid dreaming,its mathematically unli...",2021-02-26 18:08:00,4366182,296586,0,0,28064,PT1M48S,https://i.ytimg.com/vi/nRxxSvB8UFA/mqdefault.jpg,false,UCmSp4bDxS9R0jpeZEvkut2g

In [156]:
video_df.iloc[0,13]

'UCmSp4bDxS9R0jpeZEvkut2g'

In [157]:
comment_df = pd.DataFrame(c_data1["comments_data"])

In [158]:




table_name = "video_new"
video_df.to_sql(name=table_name, con=engine, if_exists='append', index=False)
engine.dispose()

In [1]:
# Define a function to safely load JSON
def safe_load_json(x):
    try:
        return json.loads(x)
    except (json.JSONDecodeError, TypeError):
        return x

# Check if the 'channel_id' column contains string representations of dictionaries
# If so, convert them to actual dictionary objects using safe_load_json
c_df['channel_id'] = c_df['channel_id'].apply(safe_load_json)

# Now, extract the 'channelId' key from the dictionary objects
c_df['channel_id'] = c_df['channel_id'].apply(lambda x: x['channelId'] if isinstance(x, dict) and 'channelId' in x else x)
table_name = "channel_new"
c_df.to_sql(name=table_name, con=engine, if_exists='append', index=False,method='multi', chunksize=10000)
engine.dispose()

NameError: name 'c_df' is not defined

In [160]:
table_name = "comment_new"
comment_df.to_sql(name=table_name, con=engine, if_exists='append', index=False)
engine.dispose()

In [161]:
def insert_into_sql(c_data1):
    engine = create_engine("postgresql://postgres:admin@localhost:5432/db1")
    c_df = pd.DataFrame(c_data1['channel_data'],index=[0])
    video_df =pd.DataFrame(c_data1["video_data"]) 
    comment_df = pd.DataFrame(c_data1["comments_data"])
    table_name = "channel_new"
    c_df.to_sql(name=table_name, con=engine, if_exists='append', index=False,method='multi', chunksize=10000)
    table_name = "video_new"
    video_df.to_sql(name=table_name, con=engine, if_exists='append', index=False,method='multi', chunksize=10000)
    table_name = "comment_new"
    comment_df.to_sql(name=table_name, con=engine, if_exists='append', index=False,method='multi', chunksize=10000)
    engine.dispose()

In [162]:
insert_into_sql(c_data1)

In [3]:
# Streamlit app
def main():
    st.title('YouTube Data Harvesting and Warehousing using SQL and Streamlit')
    st.sidebar.title('Project Details')
    st.sidebar.markdown('**Project Title:** YouTube Data Harvesting and Warehousing using SQL and Streamlit')
    st.sidebar.markdown('**Skills Takeaway From This Project:** Python scripting, Data Collection, Streamlit, API integration, Data Management using SQL')
    st.sidebar.markdown('**Domain:** Social Media')
# Function to execute SQL query and return DataFrame
def execute_query(query):
    return pd.read_sql_query(query, engine)




# Create SQLAlchemy engine and session
engine = create_engine('postgresql://postgres:admin@localhost:5432/my_db')  # Replace 'your_database.db' with your database URI
# Session = sessionmaker(bind=engine)
session = engine.connect()

In [164]:
query = "SELECT * FROM channel_new"
# output = session.execute(query)
df = pd.read_sql_query(query, engine)
df

,channel_id,channel_name,channel_ds,subscibers_count,views,video_count,playlist_id,published_at
0,UCY1kMZp36IQSyNx_9h4mpCg,Mark Rober,Former NASA engineer. Current CrunchLabs found...,50200000,5758505434,150,UUY1kMZp36IQSyNx_9h4mpCg,2011-10-20T06:17:58
1,UCb7fZdCnbt3AqnjgoNyT6UQ,Space Matters,Welcome to the official YouTube Channel Space ...,177000,31173823,77,UUb7fZdCnbt3AqnjgoNyT6UQ,2022-05-29T11:29:38.940028
2,UCz4tgANd4yy8Oe0iXCdSWfA,English with Lucy,Learn beautiful British English (modern RP) wi...,10800000,495840680,403,UUz4tgANd4yy8Oe0iXCdSWfA,2016-01-06T20:02:33
3,UC1Hdy9I0FjV-gP4LBc0z-WA,Lucas-Dynamics,"Hi, every month I push Lego to its Limit!\nSub...",63200,13100846,149,UU1Hdy9I0FjV-gP4LBc0z-WA,2021-03-08T14:31:08.60207
4,UCGeGhS_akOxBWQcSmje6B-w,Tanya Khanijow,"Hi Guys, I'm Tanya Khanijow. I'm a Travel Vlog...",1580000,265992733,439,UUGeGhS_akOxBWQcSmje6B-w,2012-10-07T08:03:18
5,UCR9sFzaG9Ia_kXJhfxtFMBA,melodysheep,"MELODYSHEEP is John D. Boswell, a Washington S...",2910000,385648160,122,UUR9sFzaG9Ia_kXJhfxtFMBA,2006-06-25T13:58:42
6,UC1_uAIS3r8Vu6JjXWvastJg,Mathologer,Enter the world of the Mathologer for really a...,927000,70649612,103,UU1_uAIS3r8Vu6JjXWvastJg,2015-03-13T00:55:40
7,UC9CohF5QlJr3md4h9iTLzOg,POC English,üòçHello and Welcome to my channel! \nMy name is...,2620000,301472679,443,UU9CohF5QlJr3md4h9iTLzOg,2021-07-26T12:33:50.762692
8,UCQqmjKQBKQkRbWbSntYJX0Q,Shabarinath Premlal,,204,2165,7,UUQqmjKQBKQkRbWbSntYJX0Q,2019-10-24T19:39:27.354361
9,UCmSp4bDxS9R0jpeZEvkut2g,Beluga,hello. please subscribe. I love you :')\n,10000000,2182235309,354,UUmSp4bDxS9R0jpeZEvkut2g,2017-01-26T17:52:08

In [6]:
#1.What are the names of all the videos and their corresponding channels?

query = "SELECT video_name, channel_name FROM channel_new,video_new"
df = pd.read_sql_query(query, engine)
df

                                             video_name         channel_name
0                      I don‚Äôt need one more subscriber           Mark Rober
1                      I don‚Äôt need one more subscriber        Space Matters
2                      I don‚Äôt need one more subscriber    English with Lucy
3                      I don‚Äôt need one more subscriber       Lucas-Dynamics
4                      I don‚Äôt need one more subscriber       Tanya Khanijow
...                                                 ...                  ...
22465  It's Mathematically Unlikely You Will Watch This          melodysheep
22466  It's Mathematically Unlikely You Will Watch This           Mathologer
22467  It's Mathematically Unlikely You Will Watch This          POC English
22468  It's Mathematically Unlikely You Will Watch This  Shabarinath Premlal
22469  It's Mathematically Unlikely You Will Watch This               Beluga

[22470 rows x 2 columns]

In [166]:
#  2.Which channels have the most number of videos, and how many videos do they have?
query = "SELECT channel_name, video_count AS num_videos FROM channel_new ORDER BY video_count DESC LIMIT 5"
df = pd.read_sql_query(query, engine)
df

        channel_name  num_videos
0        POC English         443
1     Tanya Khanijow         439
2  English with Lucy         403
3             Beluga         354
4         Mark Rober         150

In [167]:
# 3. What are the top 10 most viewed videos and their respective channels?
query ="SELECT v.video_name, c.channel_name, COUNT(v.video_id) AS video_count FROM video_new v INNER JOIN channel_new c ON v.channel_id = c.channel_id GROUP BY v.video_name, c.channel_name ORDER BY COUNT(c) DESC LIMIT 10"
df = pd.read_sql_query(query, engine)
df

,video_name,channel_name,video_count
0,English Vocabulary (Idioms) #shorts,POC English,10
1,Subscribe for more! #lego #legotechnic #shorts,Lucas-Dynamics,8
2,Check out the main video!,Lucas-Dynamics,8
3,Subscribe for more! #lego #legotechnic #youtub...,Lucas-Dynamics,6
4,Subscribe for more! #lego #shorts,Lucas-Dynamics,4
5,English Pronunciation Lesson #shorts,POC English,4
6,Personality Adjectives & Idioms In English #sh...,POC English,4
7,English Pronunciation (Homophones) #shorts,POC English,4
8,English Vocabulary: Confusing Words! #shorts,POC English,4
9,English vocabulary for annoying habits #shorts,POC English,3

In [168]:
# 4. How many comments were made on each video, and what are their corresponding video names?
query = "SELECT v.video_name, COUNT(*) AS num_comments FROM comment_new co INNER JOIN video_new v ON co.video_id = v.video_id GROUP BY v.video_name"
df = pd.read_sql_query(query, engine)
df

                                             video_name  num_comments
0     I've got a splitting headache!#english #vocabu...             9
1                 People who use üòÇ a little too much...           100
2     Learn Advanced Weather Vocabulary | #EnglishVo...           100
3                                     Discord 2 Trailer           100
4                      Stop Saying "I want" in English!           100
...                                                 ...           ...
2092  Hair transformation for Valentine‚Äôs Day! üòú Gue...            39
2093      English Vocabulary: Confusing Words! (Part 2)           100
2094  English conversation || Asking for a lower pri...            25
2095        "Blue & Beautiful" - Neil Armstrong Tribute           100
2096  Tanya Khanijow in Ladakh! Are you excited for ...           100

[2097 rows x 2 columns]

In [169]:
# 5. Which videos have the highest number of likes, and what are their corresponding channel names?


query = "SELECT v.video_name, c.channel_name,v.like_count FROM video_new v INNER JOIN channel_new c ON v.channel_id = c.channel_id ORDER BY v.like_count DESC LIMIT 5"

df = pd.read_sql_query(query, engine)
df

                             video_name channel_name  like_count
0             I NEED 1 MORE SUBSCRIBER!   Mark Rober    11097204
1    I Cured @MrBeast‚Äôs Fear Of Heights   Mark Rober     8164008
2  8-Year-Olds vs Modified Bowling Ball   Mark Rober     5033448
3          I NEED ONE MORE SUBSCRIBER!!   Mark Rober     4863771
4    I Dropped Popcorn on Movie-Texters   Mark Rober     4842134

In [170]:
# 6. What is the total number of likes and dislikes for each video, and what are their corresponding video names?
query = "SELECT v.video_name, SUM(v.like_count) AS total_likes, SUM(v.dislike_count) AS total_dislikes FROM video_new v GROUP BY v.video_name"
df = pd.read_sql_query(query, engine)
df

,video_name,total_likes,total_dislikes
0,I've got a splitting headache!#english #vocabu...,1019.0,0.0
1,People who use üòÇ a little too much...,32697.0,0.0
2,Learn Advanced Weather Vocabulary | #EnglishVo...,10016.0,0.0
3,Discord 2 Trailer,193082.0,0.0
4,"Stop Saying ""I want"" in English!",29566.0,0.0
...,...,...,...
2175,English conversation || Asking for a lower pri...,8539.0,0.0
2176,English Vocabulary: Confusing Words! (Part 2),13839.0,0.0
2177,Hair transformation for Valentine‚Äôs Day! üòú Gue...,1124.0,0.0
2178,"""Blue & Beautiful"" - Neil Armstrong Tribute",11054.0,0.0
2179,Tanya Khanijow in Ladakh! Are you excited for ...,4533.0,0.0

In [172]:
# 7. What is the total number of views for each channel, and what are their corresponding channel names?
query = "SELECT c.channel_name, SUM(v.view_count) AS total_views FROM channel_new c LEFT JOIN video_new v ON c.channel_id = v.channel_id GROUP BY c.channel_name"
df = pd.read_sql_query(query, engine)
df

          channel_name   total_views
0               Beluga  2.182478e+09
1       Lucas-Dynamics  1.312773e+07
2  Shabarinath Premlal  2.165000e+03
3        Space Matters  3.118857e+07
4          POC English  3.015305e+08
5    English with Lucy  4.959046e+08
6           Mark Rober  5.762688e+09
7          melodysheep  3.857028e+08
8           Mathologer  7.065287e+07
9       Tanya Khanijow  2.662856e+08

In [173]:
# 8. What are the names of all the channels that have published videos in the year 2022?
query = "SELECT DISTINCT c.channel_name ,v.published_at FROM video_new v INNER JOIN channel_new c ON v.channel_id = c.channel_id WHERE EXTRACT(YEAR FROM v.published_at) = '2022' "
df = pd.read_sql_query(query, engine)
df

       channel_name        published_at
0            Beluga 2022-01-01 14:55:55
1            Beluga 2022-01-03 14:13:02
2            Beluga 2022-01-05 14:26:50
3            Beluga 2022-01-07 14:00:03
4            Beluga 2022-01-09 14:01:11
..              ...                 ...
614  Tanya Khanijow 2022-12-27 11:30:14
615  Tanya Khanijow 2022-12-28 05:00:07
616  Tanya Khanijow 2022-12-28 11:30:12
617  Tanya Khanijow 2022-12-29 11:30:01
618  Tanya Khanijow 2022-12-30 11:30:26

[619 rows x 2 columns]

In [174]:
# 9. What is the average duration of all videos in each channel, and what are their corresponding channel names?
query = "SELECT c.channel_name, v.duration AS avg_duration FROM video_new v INNER JOIN channel_new c ON v.channel_id = c.channel_id GROUP BY c.channel_name, v.duration"
df = pd.read_sql_query(query, engine)
df

           channel_name avg_duration
0           POC English     PT11M25S
1     English with Lucy         PT5M
2            Mathologer      PT7M19S
3            Mark Rober       PT9M9S
4     English with Lucy     PT11M27S
...                 ...          ...
1345     Tanya Khanijow     PT17M37S
1346  English with Lucy    PT1H39M8S
1347     Tanya Khanijow     PT21M34S
1348         Mathologer     PT22M28S
1349     Tanya Khanijow     PT23M39S

[1350 rows x 2 columns]

In [175]:

# 10. Which videos have the highest number of comments, and what are their corresponding channel names?
query = "SELECT v.video_name, c.channel_name,v.comment_count FROM video_new v INNER JOIN channel_new c ON v.channel_id= c.channel_id ORDER BY (SELECT COUNT(*) FROM comment_new co WHERE co.video_id = v.video_id) DESC LIMIT 5"
df = pd.read_sql_query(query, engine)
df

                                    video_name channel_name  comment_count
0                       Vortex Cannon vs Drone   Mark Rober          10066
1  MrBeast Pranked By Mark Rober At CrunchLabs   Mark Rober           1614
2      Which seat is faster the FRONT or BACK?   Mark Rober           4719
3     You've Never Seen A Wheelchair Like This   Mark Rober          12918
4             I don‚Äôt need one more subscriber   Mark Rober           1155

In [ ]:
if __name__ == "__main__":
    main()